.table{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    font-size: medium;
    font-weight: 500;
} 
.headt{
    background: rgb(195, 190, 190);
}
.tbody{
    background: white;
}
.update{
    background-color: Cyan;
    border: none;
    width:100%;
    height:40px;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 yellow;
    transition: 0.5s;
    outline: none;
}
.update:hover{
    box-shadow:inset 150px 0 0 0 yellow ;
}
.delete{
    background-color: red;
    border: none;
    width:100%;
    height:40px;
    font-weight: bold;   
    box-shadow: inset 0 0 0 0 yellow;
    transition: 0.5s;
    outline: none;
}
.delete:hover{
    box-shadow:inset 300px 0 0 0 yellow ;
}

.ttitle{
    font-size: 40px;
    color: aquamarine;
    font-weight: bold;
}
.upd{
    width:150px
}
.bodyAd{
    background: linear-gradient(135deg, black,blue);
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

.tableup{
    border: 1px solid black;
    width: 400px;
    text-align: center;
    font-size: large;
}
.uploadstab{
    padding-left: 35%;
}
.tablepm{
    text-align: center;
}
.center{
    align-items: center;
}
