.student_body {
    background-image: url('../../Images/Student/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.loginWrapper {
    /* border: 2px solid rgb(255, 255, 255); */
    width: 450px;
    margin-left: 600px;
    margin-top: 90px;
    margin-bottom: 160px;
    padding: 10px;
    border-radius: 10px;
    
}

.welcome {
    margin-bottom: 5px;
    color: aliceblue;
    font-size: 35px;
}

.loginInputFieldArea {
    
    margin-left: 70px;
}

.logInputFields {
    width: 300px;
    height: 25px;
    border: 2px solid white;
    margin-top: 15px;
    border-radius: 5px;
    background-color: transparent;
    padding-left: 10px;
    outline: none;
    color: rgb(0, 0, 0);
}

.forgotPassword {
    color: rgb(42, 42, 42);
    font-size: 12px;
    float: right;
    margin-top: 5px;
    margin-right: 66px;
}

.logInputFields::placeholder {
    color: aliceblue;
}

.loginbtn {
    width: 150px;
    height: 30px;
    margin-top: 30px;
    margin-left: 90px;
    border: 1px solid white;
    border-radius: 5px;
    color: black;
    background-color: rgb(253, 197, 124);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.loginbtn:hover {
    background-color: rgb(249, 172, 79);
}

.imagewrapper {
    float: left;
     
     
}
.image{
    border-radius: 10px 50px 10px 50px;
    box-shadow: 7px 7px 3px rgba(175, 175, 175, 0.502);
    
}

.mainWrapper {
    margin: auto;
    width: max-content;
    height: 409px;
    border: 1px solid white;
    margin-top: 60px;
    margin-bottom:70px;
    border-radius: 10px 20px 20px 50px;

}